<div id="the_header" class="palm-page-header">
	<div id="the_header_wrapper" class="palm-page-header-wrapper">
		<div class="icon palm-account-icon hotspot"></div>
		<div id="main_header_title" class="title"></div>
	</div>
</div>
<!-- Main contents -->
<div id="content_wrapper">
	<div class="palm-group">
		<div id="step_one_title" class="palm-group-title">
			Stap één - Verbinden
		</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="connect_wifi_icon" class="title"></div>
					<div id="connect_wifi_title" class="title">
						Verbind met WiFi hotspot
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group">
		<div id="step_two_title" class="palm-group-title">
			Stap twee - Selecteer een gateway
		</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div id="gateway_selector" x-mojo-element="ListSelector"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group">
		<div id="step_two_title" class="palm-group-title">
			Stap drie - Go!
		</div>
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="open_hotspot_button"></div>
					<div id="response_message" class="response-text"></div>
				</div>
			</div>
		</div>
	</div>
</div>